@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: #6a6a6a;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color: #323232;
}

a {
    color: #323232;
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: #D60F0F;
}

img {
    width: 100%;
}



/* NavBar */

.navbar {
    background-color: white;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
  }
  
  .navbar-nav .nav-link {
    font-weight: 500;
    color:black;
  }
  
  .navbar-nav .nav-link.active {
    color:rgb(214, 15, 15);
  }
  
  .navbar-nav .nav-link:hover {
    color:#d60f0f;
  }
  
  .navbar-nav .dropdown-item:hover{
    color: #d60f0f;
  }
  
  .dropdown-item{
    font-weight:100;
    color:rgb(122, 122, 122);
  }


/* Hero Section */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/Hero-Graphic.jpg);
    background-position: center;
    background-size: cover;
}

/* Button */
.btn {
    font-weight: 500;
    padding: 14px 30px;
    border: 0px;
    border-radius: 20px;
    transition: all 0.2s ease;
  }
  
  .btn-primary {
    background-color: #D60F0F;
  }
  
  .btn-primary:hover {
    background-color: #000000;
    transform: scale(1.1);
  }


    /* Content */
  .image-section{
    background-color: #000000;
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 60px;
    margin-bottom: 40px;
    border-radius: 50px;
  }
  
  .categories{
    margin: 100px auto;
    width: 85%;
  }
  
  .text-box-two h2{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 20px;
  }
  
  .text-box-two p{
    font-size: 16px;
  }
  

  /* Footer */
footer ul {
  list-style: none;
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-top {
  padding-top: 120px;
  padding-bottom: 30px;
}

.footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}